<h2>Introduction</h2>
<p>
  HTML (<b>H</b>yper<b>t</b>ext <b>M</b>arkup <b>L</b>anguage uses a markup system composed of elements which
  represent specific content. <i>Markup</i> means that with HTML you declare <i>what</i> is presented to a viewer, not
  <i>how</i> it is presented. Visual representations are defined by Cascading Style Sheets (CSS) and realized by
  browsers. Still existing elements that allow for such, like e.g. font, "are entirely obsolete, and must not be used
  by authors"</p>